/* Кнопка сортировки */
.sortBtn {
	margin-top: 10px;
    padding: 12px 20px;
    background: #f8f9fa;
    border: 2px solid #e0e0e0;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    color: #666;
    transition: all 0.3s ease;
    white-space: nowrap;
}

.sortBtn:hover {
    background: #e9ecef;
    border-color: #4facfe;
    color: #4facfe;
}

.sortBtnActive {
    background: #4facfe;
    border-color: #4facfe;
    color: white;
}

.sortBtnActive:hover {
    background: #3a9df5;
    border-color: #3a9df5;
}
